.wrap{
        background-color:#118086;
        margin-top:60px;
        margin-bottom:50;
    }

.lorem {
    
        font-weight: 'bold';
        text-align:center;
        margin-top:20;
        color: #fff;
        padding-bottom:40px;
    }

.img {
       margin-top:40;
    }


